<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
</head>
<body>
<h2> Name: @team.name</h2>
</body>
</html>
